.jigsaw{
  position: relative;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  cursor: pointer;
  border: 1px solid #E9ECEF;
  z-index: 10;
}
.jigsaw,
.jigsaw span {
  background-color: #c7c7c7; 
}
textarea.noscroll {
  font-size: 16px;
	width:100%;
	box-sizing:border-box;
	display:block;
	max-width:100%;
	padding:15px 15px 30px;
  border: 0px;
  background-color: transparent;
}
textarea:focus{
  border-color: initial;
  box-shadow: none;
  outline: 0;
}
.jigsaw input{
  position: absolute;
  top: 0px;
  left: 0px; 
  color: white;
  width: 85%;
  height: 78%;
  padding: 3px;
  border: 0;
  outline: 0;
  font-size: 15px;
  background: transparent;
}
.jigsaw-text {
  display: block;
  font-size: 1.2em;
  text-align: left;
  padding: 1em 1.2em 1.9em 0;
  position: relative;
  background: transparent !important;
}
.jigsaw .t{
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: -1.3em;
  left: 50.1%;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}
.jigsaw .b{ 
  width: 1.7em;
  height: 1.7em;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
  background-color: white;
}
@media only screen and (min-width: 0px) {
  .jigsaw .b{
    left: 49.5%;
  }
}
@media only screen and (min-width: 768px) {
  .jigsaw .b{
      left: 50%;
  }
}